.active { color: #fff; background-color: #c00 }
.alert { color: #c00; font-family: Verdana }
.blue { color: #036 }
.body { color: #000; font-size: 12px; line-height: 19px; font-family: Verdana }
.bodyblue { color: #036; font-size: 11px; font-family: Verdana }
.bodybluelg { color: #036; font-size: 12px; font-family: Verdana }
.bodylight { color: #999; font-size: 11px; font-family: Verdana }
.bodylightlg { color: #999; font-size: 12px; font-family: Verdana }
.bodyhere { color: #036; font-size: 11px; font-family: Verdana }
.bodywhite { color: #fff; font-size: 11px; font-family: Verdana }
.bodywhitelg { color: #fff; font-size: 12px; font-family: Verdana }
.bodysmall { color: #000; font-size: 10px; line-height: 12px; font-family: Verdana }
.bodysmallemph { color: #000; font-weight: bold; font-size: 10px; font-family: Verdana }
.bodysmallwhite { color: white; font-size: 10px; font-family: Verdana }
.bullet { color: #036; font-weight: bold; font-size: 12px; font-family: Verdana }
.bulletsmall { color: #036; font-weight: bold; font-size: 10px; font-family: Verdana }
.check { color: #0c3 }
.numbers { color: #c00; font-size: 17px; font-weight: bold; font-family: Verdana }
.title-class1 { color: #000; font-size: 20px; font-family: Verdana }
.title-class1emph { color: #000; font-weight: bold; font-size: 21px; font-family: Verdana }
.title-class2 { color: #000; font-size: 16px; font-family: Verdana }
.title-class2emph { color: #000; font-weight: bold; font-size: 16px; font-family: Verdana }
.title-class3 { color: #000; font-size: 14px; font-family: Verdana }
.title-class3emph { color: #000; font-weight: bold; font-size: 14px; font-family: Verdana }
.title-class3emphreverse { color: #fff; font-weight: bold; font-size: 14px; font-family: Verdana }
a { color: #009; text-decoration: underline; font-family: Verdana }
a:hover { color: #c00 }
a.footer { color: #ccc; font-size: 11px; text-decoration: underline; font-family: Verdana }
a.footer:hover { color: #fff }
a.light { color: #fc0; text-decoration: underline; font-family: Verdana }
a.light:hover { color: #f03 }
a.small { color: #009; font-size: 10px; font-family: Verdana; text-decoration: underline }
a.small:hover { color: #c00; font-size: 10px; font-family: Verdana }
.text_bold_b{font-family:arial; font-size:11px; font-weight:bold; color:#666666;}
.link_bold_r{font-family:arial; font-size:11px; font-weight:normal; color:#CC0000; text-decoration:none;}
a.link_bold_r:hover{color:#FFFFFF; background:#CC0000;}
.text_01{font-family:Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold; color:#666666}
.text_02{font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#666666}
.text_03{font-family:Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold; text-decoration:underline; color:#666666}
/*
     FILE ARCHIVED ON 02:54:06 Aug 24, 2000 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:28:18 Dec 20, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 226.067
  exclusion.robots: 0.092
  exclusion.robots.policy: 0.085
  RedisCDXSource: 2.301
  esindex: 0.009
  LoadShardBlock: 180.504 (3)
  PetaboxLoader3.datanode: 94.334 (4)
  CDXLines.iter: 39.267 (3)
  load_resource: 80.732
*/